@media (min-width: 1020px) {
.navbar-brand-container {
  margin-right: 1em;
}
}



@media (max-width: 1060px) and (min-width: 991.98px) {

#navbarCollapse ul:last-of-type a.nav-link {
  padding-left: .25em;
  padding-right: .25em;
}

.navbar #quarto-search {
  margin-left: .1em;
}

.navbar .bi-twitter,
.navbar .bi-github,
.navbar .bi-rss
 {
  font-size: .8em;
}
}

/* css styles */
details>summary {
  list-style-type: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  background-color: #F5F5F5;
}

details>summary::-webkit-details-marker {
  display: none;
}

details>summary::before {
  content: '+ ';
}

details[open]>summary::before {
  content: '- ';
}

details[open]>summary {
  margin-bottom: 0.5rem;
}


/* justify */
.fulljustify {
  text-align: justify;
  display: table-row;
  text-align-last: left;
}

/* Button */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: none;
  color: #f4511e;
  text-align: center;
  font-size: 14px;
  padding: 1px;
  padding-right: 1px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
